In [1]:
import pandas as pd
import re

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
# function checks to see if string is exclusively a vowel.  Not if all string is a vowel
def is_vowel(string):
    return re.findall((r'[aeiou]+'), string) == list(string.lower())

In [3]:
string = 'e'

is_vowel(string)

True

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
string = 'noahmelngailis'

In [5]:
def is_valid_username(string):
    """function checks for valid username by:
        1. length less than 32 characters
        2. first character is lower case
        3. all characters letters, numbers or '-'
    """
    if len(string) <= 32:
        if string[0] == string[0].lower():
            if re.findall(r'[^a-zA-Z\d]', string) == []:
                return True
            else:
                return False
        else:
            return False
    else:
        return False

In [6]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

3. Write a regular expression to capture phone numbers. It should match all of the following:

> (210) 867 5309 \
> +1 210.867.5309 \
> 867-5309 \
> 210-867-5309

In [7]:
phone_n_1 = '(210) 867 5309'
phone_n_2 = '+1 210.867.5309'
phone_n_3 = '867-5309'
phone_n_4 = '210-867-5309 '

def capture_phone_no(phone_no):
    """this function loops through a list of phone number formats and returns a match for the correct format"""
    first_re = r'((\(\d\d\d\)\s\d\d\d\s\d\d\d\d))'
    second_re = r'(\+1\s\d\d\d\.\d\d\d\.\d\d\d\d)'
    third_re = r'(\d\d\d\-\d\d\d\d)'
    fourth_re = r'(ddd-ddd-dddd)'   
    phone_n_types = [first_re, second_re, third_re, fourth_re]

    i = 0
    for l in phone_n_types:
        match = re.search(l, phone_no)
        if match == None:
            continue
            i += 1
        else:
            match = match[i]
            return match
    return "Not valid format"

4. Use regular expressions to convert the dates below to the standardized year-month-day format.
> 02/04/19 \
> 02/05/19 \
> 02/06/19 \
> 02/07/19 \
> 02/08/19 \
> 02/09/19 \
> 02/10/19

In [8]:
list_dates = ['02/04/19',
            '02/05/19',
            '02/06/19',
            '02/07/19',
            '02/08/19',
            '02/09/19',
            '02/10/19']

def proper_date(list_dates):
    """function takes in a list of dates and returns proper date format of year-month-day"""
    date_re = r'(\d\d)\/(\d\d)\/(\d\d)'
    series = pd.Series(list_dates)

    extract = series.str.extract(date_re)


    df = pd.DataFrame({'month': extract[0],
                  'day': extract[1],
                  'year': "20" + extract[2]})
    
    df['proper_date'] = df.year + "-" + df.month + "-" + df.day
    return df.proper_date

In [9]:
proper_date(list_dates)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
Name: proper_date, dtype: object

5. Write a regex to extract the various parts of these logfile lines: 

> GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
> POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
> GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [10]:
regex = '(?P<method>[A-Z]+)\s.*?(?P<path>.*?)\s\[(?P<timestamp>.+?)\]\sHTTP/1.1\s{(?P<status>\d{3})}\s(?P<bytes_sent>\d+?)\s(?P<user_agent>.*?)\"\s(?P<ip>.+)'

In [11]:
regex = re.compile(regex, re.VERBOSE)

In [12]:
one = """GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58"""
two = 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'
three = 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'            
df = pd.DataFrame([one, two, three])
df

                                                   0
0  GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1  POST /users_accounts/file-upload [16/Apr/2019:...
2  GET /api/v1/items?page=3 [16/Apr/2019:193453+0...

In [13]:
series = df[0].str.extract(regex)
series

,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,"""python-requests/2.21.0",97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,"""python-requests/2.21.0",97.105.19.58

6 You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [14]:
# create file from username
# create df from file
file= open('/usr/share/dict/words')
words = pd.read_csv(file, names = ['word'])
words.head()

    word
0      A
1      a
2     aa
3    aal
4  aalii

In [24]:
# How many words have at least 3 vowels?
regex = r'[aeiouAEIOU]'
new_list = pd.DataFrame([])
for w in words.word:
    if len(re.findall(regex, w)) >= 3:
        new_list + w

TypeError: expected string or bytes-like object

In [ ]:
new_list

In [42]:
# How many words have at least 3 vowels in a row?
words = pd.Series(words)
regex = r'[aeiouAEIOU]{3,}'
x = 0
for w in words:
    if re.findall(regex, w) != []:
        x += 1

TypeError: expected string or bytes-like object

In [33]:

word

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
Name: word, Length: 235886, dtype: object